.checkout{
    display: flex;
    padding: 10px;
    background-color: white;
    height: max-content;
    min-width: 980px;

}
.checkout_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.checkout_ads{
    margin-bottom: 10px;
    width: 100%;

}

.checkout_product{
   
}

.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_right{

}

@media screen and (max-width:1000px) {
    .checkout{
        flex-direction: column;
        align-items: center;
    }

    .checkout_product{
        
    }
    
}
