.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}
.order_info{
  display: flex;
  justify-content: space-between;

  
}
.order_time{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.order__id {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.order__payment__id{
  
}

.order__total {
    font-weight: 500;
    text-align: right;
  }

  @media screen and (max-width:600px) {
    
    
  }
  