.productdetails{
    margin-bottom: 100px;
    
    

}
.productdetails_container{
    display:flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;

}
.productdetails_left{
    width: 600px;
    height: 600px;
    margin-left: 15px;
    display: flex;
    
    
}
.productdetails_image{
    width: 400px;
    height: 400px;
    margin: auto;
    align-self: center;
    
}
.productdetails_right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 70px;
    width: 600px;
    height: 600px;
    margin-top: 20px;


}
.productdetails_info{}
.productdetails_info >  * {
    margin-bottom: 5px;
}
.productdetails_title{
    font-size: 25px;
    font-weight: 800;
}
.productdetails_category{
    font-style: italic;
    
}
.productdetails_price{}
.productdetails_price_currency{}
.productdetails_price_value{}
.productdetails_rating{
    display: flex;
}
.productdetails_post{}
.productdetails_btn{
    display: flex;
}
.productdetails_buynow_btn,.productdetails_addcart_btn{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    padding: 5px;
    width: 100px;
}
.productdetails_addcart_btn{
    margin-left: 100px;
}
.productdetails_description{
    word-wrap: break-word;
}

@media  screen and (max-width:600px) {
    .productdetails_container{
        width: 600px;
    }
    
}