.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 500px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 100;
    


}

.product:hover{
    transform: scale(1.05);
    z-index: 90;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}

.product_title {}

.product_price {
    margin-top: 5px;
}

.product_price_currency {

}

.product_price_value {}

.product_rating {
    display: flex;

}

.product_image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;

}

.product_button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    
}